.navi {
	display: block;
	position: relative;
	width: 100%;
	height: 30px;
}

.logo_container {
		display: block;
		position: relative;
		margin: 65px auto 20px auto;
		width: 272px;
		height: 92px;
		padding: 100px 0 0 0;
}

.google_logo {
	display: block;
	margin: auto;
	width: 272px;
	height: 92px;
}

.PL {
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 10px;
}

.Polska {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #4285f4;
}

.search_container {
	position: relative;
	display: block;
	width: 586px;
	height: 40px;
	margin: auto;
	border: 1px solid #d9d9d9;
	background-color: #ffffff;
}

.searchbox {
	display: inline-block;
	position: absolute;
	width:	500px;
	height:	26px;
	border: none;
	padding: 5px 5px 0;
	font-size: 16px;
}

.searchbox:focus {
	outline: none;
}

.search_container:hover {
	border: 1px solid #C4BDBD;
}

.keyboard {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 40px;
}

.kboard {
	display: block;
	margin: auto;
	padding: 36% 0;
}

.buttons {
	display: block;
	position: relative;
	padding: 18px 0 0 0;
	height: 36px;
}

.search {
	display: inline-block;
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 2px;
	margin: 11px 2px;
	padding: 11px 14px;
	font-family: arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #757575;
	background-color: #f1f1f1;
}

.search:hover {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #222222;
	border: 1px solid #c6c6c6;
	background-image: linear-gradient(top, #f8f8f8,#f1f1f1);
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
}

.nav_inner {
	position: absolute;
	width: 250px;
	display: flex;
	display: -webkit-flex;
	padding: 0 30px;
	top: 15px;
	right: 0;
	justify-content: space-between;
}

.navi_button {
	font-family: arial, sans-serif;
	text-decoration: none;
	color: #757575;
	font-size: 13px;
	padding: 8px 0;
	height: 13px;
	width: auto;
}

.navi_button:hover {
	text-decoration: underline;
}

#uslugi {
	padding: 0;
}

.navi_login {
	width: 95px;
	height: 30px;
	background-color: #4285f4;
	border-radius: 2px;
	font-family: arial, sans-serif;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	line-height: 30px;
}

.navi_login:hover {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}